/* smooth scrolling when navbar clicked */
html {
    scroll-behavior: smooth;
}


/* Body */
body {
    margin: 0%; /* This ensures our site displays all the way to the edge of the browser screen */
    opacity: 1;
    /*transition: 5s opacity;*/ /*5second fade*/
    letter-spacing: .2vw;
    font-family: 'Poiret One', cursive;
    text-align: center;
}




    body.fade-out {
        opacity: .1;
        transition: none;
    }

/* Navbar */
.Navbar {
    overflow: hidden; /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
    background-color: black; /* This colors the navbar black */
    position: fixed; /* This keeps the navbar at the top of the screen as we scroll */
    top: 0; /* This ensures no space is displayed above the navbar */
    width: 100%; /* This makes the navbar span the entire width of the page */
    z-index: 1; /*This ensures other elements don't display over the navbar */
    position: fixed;
    -webkit-animation: moveNav 2s; /* Safari 4.0 - 8.0 */
    animation: moveNav 2s;
}

    /* Navbar text */
    .Navbar a {
        float: left; /* This specifies that the text floats on the left on the navbar */
        display: block; /* This ensures that other text will be displayed on the same line or row, instead of a new line */
        color: white; /* This is the font color for text on our navbar */
        padding: 1.5%; /* This adds padding around our text */
        text-decoration: none; /* This gets rid of the underlines under the text on our navbar */
        /*font-size: 20px;*/ /* This specifies the font size for text on our navbar */
        text-align: center; /* This centers the text within its container */
        position: relative;
        -webkit-animation: movenavText 2s;
        animation: movenavText 2;
        letter-spacing: .2vw;
        
        font-weight: 700
    }

/*navmbar animation */
@keyframes moveNav {
    from {
        left: -100vw;
    }

    to {
        left: 0vw;
    }
}

/*overlay video text animation */
@keyframes movenavText {
    from {
        top: -100vw;
    }

    to {
        top: 0vw;
    }
}

/*overlay of video moving up */
@keyframes movevideoText {
    from {
        top: -100vw;
    }

    to {
        top: 0px;
    }
}

/* Navbar hover effect */
.Navbar a:hover {
    background-color: #a78593; /*  This defines the background color that will display when you hover over the text on the navbar */
    color: black; /* This defines the font color that will display when you hover over the text on the navbar */
    font-weight: bold; /* This makes the text on the navbar bold when hovered over */
}

/* Navbar home button */
.Navbar a.active { /* The active selector styles a link */
    background-color: #8d2f56; /* This specifies the background color behind the Home button on the navbar */
}

/*video zoom*/
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1.5,1.5);
    }

    100% {
        transform: scale(1,1);
    }
}

/* Video */
#Typing_Video {
    position: fixed; /* This fixes our video to the page  */
    right: 0; /* This ensures no space between the edge of the video and the edge of the page */
    bottom: 0; /* This ensures no space between the edge of the video and the edge of the page */
    min-height: 100%; /* This ensures the video is displayed across the full width of the page */
    top: 0;
    z-index: -1;
    animation: zoominoutsinglefeatured 5s;
}


/* Text over the video */
.Video_Text {
    background: rgba(0, 0, 0, 0.8); /* This provides a semi-transparent background for the text to sit over */
    color: white;
    width: 100%;
    padding: 5%;
    margin-top: 10%;
    margin-bottom:10%;
    margin-right:5%;
    margin-left5%;
    position: relative;
    -webkit-animation: moveNav 4s; /* Safari 4.0 - 8.0 */
    animation: movevideoText 4s;
    font-weight: 800;
}

.bimg {
    width: 30%;
    border-radius: 50%;
}

/* Bianca heading style */
.Bianca {
    text-transform: uppercase; /* capitalize headings */
    font-family: 'Poiret One', cursive;
    font-weight: 900;
    text-align: center;
    color: white;
    border: none;
    
    
}

    .Bianca:hover {
        transition: transform 4s;
        transform: scale(1.2);
        font-weight: normal; /* Makes the text no longer bold when hovered over  */
        color: white;
        font-weight: 900;
    }

/* Center align element hover effect */
.center:hover {
    transition: transform 2s;
    transform: scale(1.1);
}

/*slideshow styling */
#Slideshow_background {
    background: rgba(0,0,0,.5); /*slightly transparent white over video */
}

.mySlides {
    display: none;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}


#Slideshow_Container {
    width: 35vw;
    height: auto;
    padding-top: 4%;
    position: relative;
    margin: auto;
    border-radius: 50px;
}

/* Images contained within slideshow */
.Slide_Show_Images {
    vertical-align: middle;
    height: auto;
    box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
    width: 80%;
    border-radius: 50px;
}

.Previous, .Next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 2vw;
    margin-top: -0vw;
    color: darkgray;
    font-weight: bold;
    font-size: 1.5vw;
    border-radius: 0 3px 3px 0;
    user-select: none;
    transition: 0.6s ease;
}

/* Positioning the right-hand next button */
.Next {
    right: -15%;
    border-radius: 3px 0 0 3px;
}

.Previous {
    left: -15%;
    border-radius: 3px 0 0 3px;
}


    /* Hover effect on slide show buttons */
    .Previous:hover, .Next:hover {
        background-color: rgba(0,0,0,0.8);
        color: white;
    }

/* slideshow text */
.text {
    color: white;
    padding: 1vw;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    background-color: rgba(0,0,0,0.75);
    font-weight: bold;
    border-radius: 0px 0px 50px 50px;
    margin: 0;
}

/* Number text (1/6, 2/6, etc.) - we have set this display to none, which means these are hidden */
.Slide_Number {
    color: white;
    position: absolute;
    top: 0;
    letter-spacing: .1vw;
    font-size: 1.5vw;
    font-weight: bold;
    display: none;
}

/* The dots under the slideshow */
.dot {
    cursor: pointer;
    height: 1vw;
    width: 1vw;
    margin: .5%;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    position: relative;
    z-index: 1;
}

    /* Hover effect for slideshow dots */
    .active, .dot:hover {
        background-color: black;
        border: 2px solid white;
    }

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}



/*about and Git cards*/


.cardimg {
    color: white;
    padding: 1%;
    background-color: gray;
    font-weight: 900;
    margin: 2%;
    border: solid 3px #8d2f56;
    border-radius: 25px 25px 25px 25px;
}

.cardtext {
    font-weight: 900;
    padding: 1%;
    background-color: #4d4d4d;
    color: white;
    margin: 2%;
    border: solid 3px #8d2f56;
    border-radius: 25px 25px 25px 25px;
}

.gitimg {
   /*margin-top:10%;
   margin-bottom: 5%;*/
   max-height:300px;
   width:auto;
   /*margin-left:15%;
   margin-right:auto;*/
    }

/* Anchor elements */
a {
    color: lightblue; 
    
}

/* Quotation elements */
q {
    font-style: italic;
    font-weight: bold;
}


/* Image elements */
img {
    filter: grayscale(75%); /* This rids our pictures of 75% of their color */
    border-radius: 10px; /* This causes our images to have slightly rounded edges */
    max-width: 100%;
    margin-top: 5%;
    margin-bottom:5%;
    margin-left: auto; /* This in combination with margin-right: auto centers our images */
    margin-right: auto;
    display: block; /* By specifying block display we can ensure our images are able to be centered */
   
}

.linksimg
{
    border-radius: 25px;
}

    /* Image element hover effects */
    img:hover {
        filter: grayscale(5%); /* Brings back most of the image's color when hovered over */
        transition: transform 1s;
        transform: scale(1.1);
    }

/* Contact form and styling*/

@keyframes movePopup {
    from {
        right: -40vw;
    }

    to {
        bottom: 1.75vw;
    }
}

/*contact button */
.Pop_Up_Button {
    bottom: 1.75vw;
    right: 1.75vw;
    /*width: 25vw;
    height: 6vw;*/
    background-color: #8d2f56;
    letter-spacing: .5vw;
    /*font-size: 1em;*/
    font-weight: 900;
    font-family: 'Poiret One', cursive;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    position: fixed;
    -webkit-animation: movePopup 5s;
    animation: movePopup 5s;
}
    .Pop_Up_Button:hover {
        background-color: black;
        color:white;
    }
    /*popup form hidden by default*/
    .form-popup {
        border: 3px solid #f0f1f0;
        z-index: 8;
        display: none;
        position: fixed;
        bottom: 6px;
        right: 6px;
    }

/*form styling*/
.form-container {
    max-width: 49vw;
    padding: 9px;
    background-color: #a78593;
    color: white;
}

    /* Input fields */
    .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        padding: .93vw;
        margin: .6vw 0 .6vw 0;
        border: none;
        background: white;
        font-family: Helvetica, Avant Garde;
        font-size: 1vw;
        color: black;
        
    }

    /* Submit button */
    .form-container .btn {
        background-color: black;
        color: white;
        border-color: black;
        margin-bottom: 1vh;
    }

    /* Close button */
    .form-container .cancel {
        background-color: black;
        color: white;
        border-color: gray;
    }

    /*button hover effects*/
    button:hover, .form-container .btn:hover {
        color: white;
        background-color: #8d2f56;
        -webkit-transition-duration: 1s;
        transition-duration: .5s;
        border-style: solid;
        border-color: silver;
    }

    .form-container .cancel:hover {
        color: white;
        background-color: #8d2f56;
        -webkit-transition-duration: 1s;
        transition-duration: .5s;
        border-style: solid;
        border-color: black;
    }

/* Footer element */
footer {
    margin-top:5%;
    padding: 2%;
    background-color: white;
}
